<a href="https://slack.com/oauth/authorize?<%=query_params%>"><img alt="<%= alt_text%>" height="40" width="139" src="https://platform.slack-edge.com/img/<%= image_name%>.png" srcset="https://platform.slack-edge.com/img/<%= image_name%>.png 1x, https://platform.slack-edge.com/img/<%= image_name%>@2x.png 2x" /></a>